<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text="" class="text-black dark:text-white"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Audio Call
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id='participants'>

    <div id='localParticipant' class='participant'>
      <div class='identity' id='localIdentity'>{{username}}</div>
    </div>

    <div id='remoteParticipant' class='participant'>
      <div class='identity' id='remoteIdentity'>{{remoteUserName}}</div>
    </div>

  </div>



  <div id='login'>
    <input id='username' type='text' [(ngModel)]="username" placeholder='Enter your name...' required>
    <input id='username' type='text' [(ngModel)]="roomName" placeholder='Enter your room name...' required>

    <button type="button" value="connect" (click)="call()">Call</button>
    <button type="button" value="connect" (click)="end()">End</button>




  </div>





</ion-content>
